{% extends "master.html" %}

{% block title %}
  Grade
{% endblock %}


{% block content %}
<center><h1>成績單</h1></center>
  <center>
  <table border="solid">
    <thead>
      <tr>
          <th>名字</th>
          <th>國文</th>   
          <th>英文</th> 
          <th>數學</th> 
          <th>理化</th>        
      </tr>
  </thead>
  <tbody>

      {% for x in Grades %}
      <tr>
        <th >{{ x.student }}</th>
        <th >{{ x.國文 }}</th>
        <th >{{ x.英文 }}</th>
        <th >{{ x.數學 }}</th>
        <th >{{ x.理化 }}</th> 
       </tr>
      {% endfor %}
  </tbody>
  </table>
</center>
{% endblock %}

<button 